<template>
<div class="page__inner page__inner--profile">
    <!-- header -->
    <profile-header />
    <!-- main -->
    <main class="main">
        <div class="profile-page">
            <div class="profile-page__inner">
                <v-container class="profile-page__container">
                    <profile-vip-notify />
                    <div class="profile-page__row">
                        <div class="profile-page__sidebar">
                            <profile-edit-overview class="d-md-none" :profile="profile"/>
                            <profile-gallery-edit :items="profile.photos"/>
                        </div>
                        <div class="profile-page__content">
                            <profile-edit-overview class="d-none d-md-block" :profile="profile"/>
                            <profile-edit-details :profile="profile" />
                        </div>
                    </div>
                </v-container>
            </div>
        </div>
    </main><!-- main -->
    <!-- footer -->
    <profile-footer class="d-sm-none"/>
</div>
</template>


<script>
import ProfileHeader from '@/components/profile/profile-header/ProfileHeader.vue';
import ProfileEditOverview from '@/components/profile/profile-overview/ProfileEditOverview.vue';
import ProfileEditDetails from '@/components/profile/profile-details-edit/ProfileDetailsEdit.vue';
import ProfileGalleryEdit from '@/components/profile/profile-gallery-edit/ProfileGalleryEdit.vue';
import ProfileVipNotify from '@/components/profile/profile-vip-notify/ProfileVipNotify.vue';
import ProfileFooter from '@/components/profile/profile-footer/ProfileFooter.vue';

export default {

    // components
    components: {
        ProfileHeader,
        ProfileEditOverview,
        ProfileEditDetails,
        ProfileGalleryEdit,
        ProfileVipNotify,
        ProfileFooter,
    },
    // data
    data() {
        return {
            '': '',
        };
    },
    // computed
    computed: {
        profile() {
            return this.$store.state.profile.profileData;
        },
    },
    // methods (from modules folder)
    methods: {

    },
};
</script>

<style src="@/assets/styles/pages/profile.scss" lang="scss"></style>
<style lang="scss" scoped>
    .profile-page {
        &__container{
            & > .profile-vip-notify {
                display: none;
                /* ... - 757 */
                @media #{map-get($display-breakpoints, 'xs-only')} {
                    display: flex;
                } /* ... - 757 */
            }
        }
    }
</style>
