<template>
    <div class="profile-gallery-details">
        <div class="profile-gallery-details__inner">
            <v-slide-group
                class="profile-details-slider"
                show-arrows
            >
                <v-slide-item
                    v-for="(image, index) in photos"
                    :key="index"
                    v-slot="{ toggle }"
                >
                    <div class="profile-details-slider-item">
                        <div class="profile-details-slider__inner">
                            <v-img
                                :src="require('@/assets' + image.src)"
                                aspect-ratio="1"
                                @click="toggle"
                                width="188px"
                            ></v-img>
                        </div>
                    </div>
                </v-slide-item>
            </v-slide-group>
        </div>
    </div>
</template>

<script>

export default {
    data() {
        return {
            carouselColumns: 4,
            test: null,
        };
    },
    computed: {
        items() {
            return this.$chunkArray(this.$store.state.profile.profileData.photos, this.carouselColumns);
        },
        photos() {
            return this.$store.state.profile.profileData.photos;
        },
    },
    methods: {

    },
};
</script>


<style lang="scss" scoped>
.profile-gallery-details {
    margin-bottom: 35px;
    border-radius: 7px;
    background-color: rgb(253, 253, 252);
    overflow: hidden;
    &__inner {
        padding: 20px 35px;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            margin-left: -5px;
            margin-right: -5px;
        } /* ... - 757 */
    }
}
.profile-details-slider {
    ::v-deep.v-slide-group__next, ::v-deep.v-slide-group__prev {
        position: absolute;
        top: 50%;
        z-index: 1;
        transform: translateY(-50%);
        width: 24px;
        min-width: auto;
        height: 64px;
        border-radius: 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("~@/assets/images/profile/icons/profile-gallery-details-button-icon.png");
        &--disabled {
            opacity: .6;
        }
        i {
            display: none;
        }
    }
    ::v-deep.v-slide-group__prev {
        left: -30px;
        transform: translateY(-50%) rotate(180deg);
    }
    ::v-deep.v-slide-group__next {
        right: -30px;
    }
}
.profile-details-slider-item {
    padding: 10px;
    cursor: pointer;
    /* ... - 757 */
    @media #{map-get($display-breakpoints, 'xs-only')} {
        padding: 5px;
    } /* ... - 757 */
    ::v-deep.v-responsive__sizer {
        box-shadow: 0 0 0 2px #47b7e5 inset;
        border-radius: 2px;
    }
}
</style>
