<template>
    <div class="profile-footer">
        <footer v-show="!$vuetify.breakpoint.xs" class="profile-footer-desktop">
            <v-container class="page__container page__container--footer">
                <div class="profile-footer-desktop__inner">
                    <v-row>
                        <v-col class="profile-footer-desktop__col">
                            <h2 class="profile-footer-desktop__nav-title">Документы</h2>
                            <ul class="profile-footer-desktop__list">
                                <li class="profile-footer-desktop__list-item">
                                    <router-link :to="'/'">Политика конфиденциальности</router-link>
                                </li>
                                <li class="profile-footer-desktop__list-item">
                                    <router-link :to="'/'">Лицензионное соглашение</router-link>
                                </li>
                                <li class="profile-footer-desktop__list-item">
                                    <router-link :to="'/'">Правила сайта</router-link>
                                </li>
                            </ul>
                        </v-col>
                        <v-col class="profile-footer-desktop__col">
                            <h2 class="profile-footer-desktop__nav-title">Справка</h2>
                            <ul class="profile-footer-desktop__list">
                                <li class="profile-footer-desktop__list-item">
                                    <router-link :to="'/'">Правила оплаты</router-link>
                                </li>
                                <li class="profile-footer-desktop__list-item">
                                    <router-link :to="'/'">Безопасность</router-link>
                                </li>
                            </ul>
                        </v-col>
                        <v-col class="profile-footer-desktop__col">
                            <h2 class="profile-footer-desktop__nav-title">Поддержка</h2>
                            <ul class="profile-footer-desktop__list">
                                <li class="profile-footer-desktop__list-item">
                                    <router-link :to="'/'">О проекте</router-link>
                                </li>
                                <li class="profile-footer-desktop__list-item">
                                    <router-link :to="'/'">Помощь</router-link>
                                </li>
                                <li class="profile-footer-desktop__list-item">
                                    <router-link :to="'/'">Партнерская програма</router-link>
                                </li>
                            </ul>
                        </v-col>
                        <v-col class="profile-footer-desktop__col profile-footer-desktop__col--icons">
                            <h2 class="profile-footer-desktop__nav-title">Способы оплаты</h2>
                            <ul class="profile-footer-desktop__list">
                                <li class="profile-footer-desktop__list-item">
                                    <img
                                        src="@/assets/images/profile/icons/footer-visa-icon.png"
                                        alt="Visa icon"
                                        width="79"
                                        height="26"
                                    />
                                </li>
                                <li class="profile-footer-desktop__list-item">
                                    <img
                                        src="@/assets/images/profile/icons/footer-visa-verified-icon.png"
                                        alt="Visa verified icon"
                                        width="72"
                                        height="31"
                                    />
                                </li>
                                <li class="profile-footer-desktop__list-item">
                                    <img
                                        src="@/assets/images/profile/icons/footer-mastercard-icon.png"
                                        alt="Mastercard icon"
                                        width="73"
                                        height="44"
                                    />
                                </li>
                                <li class="profile-footer-desktop__list-item">
                                    <img
                                        src="@/assets/images/profile/icons/footer-mastercard-secure-icon.png"
                                        alt="Mastercard secure icon"
                                        width="87"
                                        height="31"
                                    />
                                </li>
                            </ul>
                        </v-col>
                    </v-row>
                </div>
                <p class="profile-footer-desktop__copyright">
                    © Protégé {{ new Date().getFullYear() }}  |  Все права защищены
                </p>
            </v-container>
        </footer>
        <footer v-show="$vuetify.breakpoint.xs" class="profile-footer-mobile">
            <div class="profile-footer-mobile__inner">
                <nav class="profile-footer-mobile__nav">
                    <ul class="profile-footer-mobile-menu">
                        <li class="profile-footer-mobile-menu__item profile-footer-mobile-menu--gradient">
                            <router-link :to="{ name: 'Search' }" class="profile-footer-mobile-menu__link">
                                <span class="profile-footer-mobile-menu__button">
                                    <img src="@/assets/images/profile/icons/profile-footer-icon--search.png" alt="Search">
                                </span>
                            </router-link>
                        </li>
                        <li class="profile-footer-mobile-menu__item">
                            <v-tooltip
                                top
                                nudge-top="10"
                                content-class="profile-footer-mobile-menu-tooltip"
                            >
                                <template v-slot:activator="{ on, attrs }">
                                    <router-link :to="'/'" class="profile-footer-mobile-menu__link">
                                        <span class="profile-footer-mobile-menu__button" v-bind="attrs" v-on="on">
                                            <img src="@/assets/images/profile/icons/profile-footer-icon--message.png" alt="Messages">
                                            <span class="profile-footer-mobile-menu__message-icon">
                                                <span class="profile-footer-mobile-menu__message-icon-text">2</span>
                                            </span>
                                        </span>
                                    </router-link>
                                </template>
                                <p class="profile-footer-mobile-menu-tooltip__inner">
                                    <img src="@/assets/images/profile/icons/email-icon.png" alt="Message" class="profile-footer-mobile-menu-tooltip__icon">
                                    <strong>Артем</strong>
                                    отправил Вам сообщение
                                </p>
                            </v-tooltip>
                        </li>
                        <li class="profile-footer-mobile-menu__item">
                            <v-tooltip
                                top
                                nudge-top="10"
                                content-class="profile-footer-mobile-menu-tooltip"
                            >
                                <template v-slot:activator="{ on, attrs }">
                                    <router-link :to="{ name: 'Sympathy' }" class="profile-footer-mobile-menu__link">
                                        <span class="profile-footer-mobile-menu__button" v-bind="attrs" v-on="on">
                                            <img src="@/assets/images/profile/icons/profile-footer-icon--like.png" alt="Likes">
                                            <span class="profile-footer-mobile-menu__message-icon">
                                                <span class="profile-footer-mobile-menu__message-icon-text">4</span>
                                            </span>
                                        </span>
                                    </router-link>
                                </template>
                                <p class="profile-footer-mobile-menu-tooltip__inner">
                                    <img src="@/assets/images/profile/icons/heart-icon.png" alt="heart icon" class="profile-header-menu-tooltip__icon">
                                    <strong>Дмитрий</strong>
                                    посетил Вашу страницу
                                </p>
                            </v-tooltip>
                        </li>
                        <li class="profile-footer-mobile-menu__item">
                            <router-link :to="{ name: 'Profile' }" class="profile-footer-mobile-menu__link">
                                <span class="profile-footer-mobile-menu__button">
                                    <img src="@/assets/images/profile/icons/profile-footer-icon--profile.png" alt="Profile">
                                </span>
                            </router-link>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>
    </div>
</template>

<script>
export default {
    // components
    components: {
    },

    data() {
        return {
        };
    },
    computed: {

    },
    methods: {

    },
};
</script>


<style lang="scss" scoped>
.profile-footer-desktop {
    padding-top: 47px;
    /* ... - 757 */
    @media #{map-get($display-breakpoints, 'xs-only')} {
        padding-top: 60px;
        padding-bottom: 50px;
    } /* ... - 757 */
    .page__container--footer {
        max-width: 1470px;
    }
    &__inner {

    }
    &__col {
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            flex-basis: 100%;
            width: 100%;
        } /* ... - 757 */
        &--icons {
            /* ... - 1279 */
            @media #{map-get($display-breakpoints, 'md-and-down')} {
                padding-top: 50px;
                width: 100%;
                flex-basis: 100%;
            } /* ... - 1279 */
            /* ... - 757 */
            @media #{map-get($display-breakpoints, 'xs-only')} {
                padding-top: 12px;
            } /* ... - 757 */
            .profile-footer-desktop {
                &__nav-title {
                    margin-bottom: 15px;
                }
                &__list {
                    display: flex;
                    /* ... - 757 */
                    @media #{map-get($display-breakpoints, 'xs-only')} {
                        justify-content: center;
                    } /* ... - 757 */
                    &-item {
                        display: flex;
                        align-items: center;
                        margin-right: 25px;
                        margin-bottom: 0;
                        /* ... - 757 */
                        @media #{map-get($display-breakpoints, 'xs-only')} {
                            margin-right: 15px;
                            &:last-child {
                                margin-right: 0;
                            }
                        } /* ... - 757 */
                        img {
                            display: block;
                            max-width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
    &__nav-title {
        margin-bottom: 28px;
        font-family: "Gilroy";
        font-size: 20px;
        font-weight: bold;
        color: #4f5778;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            margin-bottom: 15px;
            font-size: 16px;
            text-align: center;
        } /* ... - 757 */
    }
    &__list {
        padding-left: 0;
        list-style: none;
    }
    &__list-item {
        margin-bottom: 15px;
        font-size: 18px;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            margin-bottom: 2px;
            font-size: 16px;
            text-align: center;
        } /* ... - 757 */
        &:last-child {
            margin-bottom: 0;
        }
        a {
            text-decoration: none;
        }
    }
    &__copyright {
        margin-top: 40px;
        margin-bottom: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 18px;
        text-align: center;
        color: #4f5778;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            margin-top: 50px;
            font-size: 14px;
        } /* ... - 757 */
    }
}

.profile-footer-mobile {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: #ffffff;
    &__inner {

    }
    &__nav {

    }
}

.profile-footer-mobile-menu {
    display: flex;
    padding-left: 0 !important;
    list-style: none;
    &__item {
        width: 25%;
        border-right: 1px solid #b1b5c9;
        &:last-child {
            border-right: 0;
        }
    }
    &__link {
        display: block;
        text-decoration: none;
        &.router-link-exact-active > .profile-footer-mobile-menu__button.v-btn:not(.v-btn--round).v-size--default {
            background: rgb(0,141,220);
            background: linear-gradient(90deg, rgba(0,141,220,.2) 0%, rgb(76,197,248,.2) 100%);
        }
    }
    &__button {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 67px;
        font-size: 12px;
    }
    &__icon {

    }
    &__message-icon {
        position: absolute;
        left: 55%;
        top: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 22px;
        background-image: url("~@/assets/images/profile/icons/message-icon.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        &-text {
            color: #ffffff;
        }
    }
}

.profile-footer-mobile-menu-tooltip {
    border-radius: 4px;
    background-color: #ffffff;
    max-width: 450px;
    padding: 15px 20px;
    color: var(--v-primary-base);
    &__inner {
        margin-bottom: 0 !important;
        font-size: 16px;
    }
    &__icon {
        width: 30px;
        height: 30px;
        margin-right: 18px;
        margin-bottom: -10px;
        object-fit: contain;
    }
    &:before {
        position: absolute;
        bottom: -15px;
        left: 45%;
        content: "";
        width: 0;
        height: 0;
        border-bottom: 15px solid transparent;
        border-left: 25px solid #ffffff;
    }
}
</style>
