/*Profile*/
.page__inner--profile {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 32%, rgba(237,240,250,1) 32%, rgba(237,240,250,1) 100%);
    /* ... - 1429 */
    @media (max-width: 1429px) {
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(237,240,250,1) 25%, rgba(237,240,250,1) 100%);
    } /* ... - 1429 */
    /* ... - 1013 */
    @media #{map-get($display-breakpoints, 'sm-and-down')} {
        background: none;
    } /* ... - 1013 */
}

.profile-page {
    &__inner {
        overflow: hidden;
    }
    &__container {
        max-width: 1470px;
        padding-bottom: 0;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            padding-left: 0;
            padding-right: 0;
        } /* ... - 757 */
    }
    &__row {
        display: flex;
        justify-content: space-between;
        margin-left: -10px;
        margin-right: -10px;
        /* ... - 1013 */
        @media #{map-get($display-breakpoints, 'sm-and-down')} {
            flex-wrap: wrap;
        } /* ... - 1013 */
    }
    &__sidebar {
        width: 37%;
        min-width: 400px;
        padding: 0 10px;
        /* ... - 1013 */
        @media #{map-get($display-breakpoints, 'sm-and-down')} {
            width: 100%;
            min-width: auto;
        } /* ... - 1013 */
    }
    &__content {
        width: 62%;
        padding: 0 10px;
        /* ... - 1013 */
        @media #{map-get($display-breakpoints, 'sm-and-down')} {
            width: 100%;
        } /* ... - 1013 */
    }
}

.profile-edit.v-btn:not(.v-btn--round).v-size--default {
    width: 32px;
    min-width: auto;
    height: 32px;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    &:hover {
        background-color: transparent !important;
    }
    &:before {
        content: none;
    }
}

.profile-details {
    position: relative;
    &:before {
        background-image: url("~@/assets/images/profile/girls-grey.png");
    }
    &__inner {
        position: relative;
        padding-bottom: 450px;
        overflow: hidden;
        background: rgb(76,197,248);
        background: linear-gradient(0deg, rgba(0,141,220,1) 0%, rgba(76,197,248,1) 100%);
        /* ... - 1279 */
        @media #{map-get($display-breakpoints, 'md-and-down')} {
            padding-bottom: 320px;
        } /* ... - 1279 */
        @media(max-width: 575px) {
            padding-bottom: 250px;
        }
        @media(max-width: 400px) {
            padding-bottom: 220px;
        }
        &:before {
            background-image: url("~@/assets/images/profile/girls-blue.png");
        }
    }
    &__items {
        padding: 50px 70px;
        /* ... - 1279 */
        @media #{map-get($display-breakpoints, 'md-and-down')} {
            padding: 20px 25px;
        } /* ... - 1279 */
    }
    &:before, .profile-details__inner:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 25px;
        display: block;
        width: 126%;
        padding-bottom: 32%;
        background-size: contain;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            bottom: 85px;
        } /* ... - 757 */
    }
}

.profile-details-item {
    position: relative;
    margin-bottom: 25px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fdfdfc;
    /* ... - 757 */
    @media #{map-get($display-breakpoints, 'xs-only')} {
        margin-bottom: 20px;
    } /* ... - 757 */
    &__inner {
        padding: 20px 25px 30px 35px;
        background-color: #fdfdfc;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            padding: 20px 20px 25px 20px;
        } /* ... - 757 */
    }
    &__title {
        margin-bottom: 10px;
        padding-right: 32px;
        font-family: $body-font-family;
        font-size: 26px;
        font-weight: 600;
        @media #{map-get($display-breakpoints, 'xs-only')} {
            padding-right: 25px;
            font-size: 20px;
            line-height: 24px;
        }
    }
    &__text {
        margin-bottom: 0 !important;
        font-size: 24px;
        color: var(--v-secondary-base);
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            font-size: 18px;
            line-height: 30px;
        } /* ... - 757 */
        strong {
            font-weight: 600;
        }
        &--row {
            display: flex;
            justify-content: space-between;
            margin-right: 50px;
            padding: 10px 0;
            border-bottom: 1px solid #7ec5ec;
            /* ... - 1279 */
            @media #{map-get($display-breakpoints, 'md-and-down')} {
                margin-right: 0;
            } /* ... - 1279 */
            &:last-child {
                border-bottom: 0;
            }
            span {
                &:first-child {
                    padding-right: 15px;
                }
                &:last-child {
                    min-width: 220px;
                    /* ... - 1279 */
                    @media #{map-get($display-breakpoints, 'md-and-down')} {
                        min-width: 130px;
                    } /* ... - 1279 */
                }
            }
        }
        &--price {
            font-family: "Benzin";
        }
    }
    &__icon-img {
        position: absolute;
        right: 75px;
        top: 50%;
        transform: translateY(-50%);
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            right: 55px;
            height: 70px;
            width: 70px;
            object-fit: contain;
        } /* ... - 757 */
        &--edit {
            /* ... - 757 */
            @media #{map-get($display-breakpoints, 'xs-only')} {
                right: 20px;
            } /* ... - 757 */
        }
    }
    &--target {
        background-color: #edf7ff;
    }
    .profile-edit {
        position: absolute;
        top: 25px;
        right: 25px;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            top: 18px;
            right: 15px;
            &, & img {
                width: 23px;
                height: 23px;
            }
        } /* ... - 757 */
    }
}

.profile-details-gifts {
    position: relative;
    padding: 20px 25px 30px 35px;
    background-color: #271f3b;
    border-radius: 5px;
    /* ... - 757 */
    @media #{map-get($display-breakpoints, 'xs-only')} {
        padding: 25px 20px 30px 20px;
    } /* ... - 757 */
    &__inner {

    }
    &__title {
        font-family: $body-font-family;
        font-size: 26px;
        font-weight: 600;
        color: #ffffff;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            font-size: 20px;
        } /* ... - 757 */
    }
    &__icon {
        position: absolute;
        top: 25px;
        right: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 31px;
        background-image: url("~@/assets/images/profile/icons/profile-details-gifts-message-icon.png");
        background-position: center center;
        font-size: 18px;
        color: #271f3b;
        font-weight: bold;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            right: 13px;
        } /* ... - 757 */
    }
}
