<template>
    <div class="gallery-total" :class="{'gallery-total--approved': approved}">
        <img v-if="approved" class="gallery-total__icon" src="@/assets/images/profile/icons/profile-gallery-total-approve-icon.png" alt="">
        <img v-else class="gallery-total__icon" src="@/assets/images/profile/icons/profile-gallery-total-icon.png" alt="">
        <span class="gallery-total__count">
            <b>{{ index }}</b>
            <template v-if="length">/{{ length }}</template>
        </span>
    </div>
</template>

<script>

export default {
    data() {
        return {

        };
    },
    props: {
        index: Number,
        approved: Boolean,
        length: Number,
    },
    computed: {

    },
    methods: {

    },
};
</script>
<style lang="scss" scoped>
.gallery-total {
    position: absolute;
    top: 20px;
    left: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 93px;
    height: 46px;
    background-color: rgba(48, 41, 65, .8);
    border-radius: 2px;
    /* ... - 757 */
    @media #{map-get($display-breakpoints, 'xs-only')} {
        top: 15px;
        left: 15px;
        width: 85px;
        height: 36px;
    } /* ... - 757 */
    &__icon {
        margin-right: 12px;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            width: 25px;
            height: auto;
        } /* ... - 757 */
    }
    &__count {
        font-size: 22px;
        font-weight: bold;
        line-height: 1;
        color: #ffffff;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            font-size: 18px;
        } /* ... - 757 */
    }
    &--approved {
        background: rgb(76,197,248);
        background: linear-gradient(90deg, rgba(76,197,248,1) 0%, rgba(79,190,253,1) 100%);
    }
}
</style>
