<template>
    <div class="profile-gallery">
        <div class="profile-gallery__inner">
            <div class="profile-gallery-main d-none d-md-block">
                <v-img
                    :src="require('@/assets' + selectedImage.src)"
                    aspect-ratio="1"
                ></v-img>

                <profile-gallery-total
                    :index="items.length"
                    :approved="selectedImage.approved"
                />
            </div>

            <v-carousel
                :hide-delimiters="true"
                height="auto"
                class="profile-gallery-carousel d-md-none"
            >
                <v-carousel-item v-for="(image, i) in items" :key="i">
                    <div class="profile-gallery-main">
                        <v-img
                            :src="require('@/assets' + image.src)"
                            aspect-ratio="1"
                        ></v-img>

                        <profile-gallery-total
                            :index="(i + 1)"
                            :length="items.length"
                            :approved="image.approved"
                        />
                    </div>
                </v-carousel-item>
            </v-carousel>
        </div>
    </div>
</template>

<script>
import ProfileGalleryTotal from '@/components/profile/profile-gallery-total/ProfileGalleryTotal.vue';

export default {
    components: {
        ProfileGalleryTotal,
    },
    data() {
        return {

        };
    },
    computed: {
        items() {
            return this.$store.state.profile.profileData.photos;
        },
        selectedImage() {
            return this.$store.getters['profile/getMainPhoto'];
        },
    },
    methods: {

    },
};
</script>


<style lang="scss" scoped>
.profile-gallery {
    &__inner {
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            background: linear-gradient(0deg, rgba(76,197,248,1) 0%, rgba(76,197,248,1) 30%, transparent 30%);
        } /* ... - 757 */
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
    }
}
.profile-gallery-main {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    /* ... - 757 */
    @media #{map-get($display-breakpoints, 'xs-only')} {
        margin: 5px 25px 10px;
    } /* ... - 757 */
}

.profile-gallery-carousel {
    ::v-deep.v-window__next, ::v-deep.v-window__prev {
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
        background-color: transparent;
        .v-btn {
            width: 50px;
            height: 31px;
            border-radius: 0;
            background-image: url("~@/assets/images/profile/icons/profile-gallery-button-icon.png");
            background-repeat: no-repeat;
            background-position: center center;
            &:before {
                content: none;
            }
        }
        .v-icon {
            display: none;
        }
    }
    ::v-deep.v-window__next {

    }
    ::v-deep.v-window__prev {
        .v-btn {
            transform: rotate(180deg);
        }
    }
}
</style>
