<template>
    <div class="search-adv">
        <div class="search-adv__inner">
            <v-carousel
                :hide-delimiters="true"
                :show-arrows="false"
                height="auto"
                class="search-adv-carousel"
            >
                <v-carousel-item v-for="(image, i) in items" :key="i">
                    <div class="search-adv-carousel__item search-adv-carousel__item--verify">
                        <v-img
                            :src="require('@/assets' + image.src)"
                            aspect-ratio="1.1"
                        />

                        <profile-gallery-total
                            :approved="items[i].approved"
                            :length="items.length"
                            :index="(i + 1)"
                        />
                    </div>
                </v-carousel-item>
            </v-carousel>

            <div class="search-adv__content">
                <h3 class="search-adv__name">Анна, 26</h3>
                <p class="search-adv__location">Киев, Украина</p>
                <h2 class="search-adv__title">КОНКУРС Красоты в <strong>Киеве</strong></h2>
                <a href="#" class="search-adv__action">Проголосовать</a>
            </div>
        </div>
    </div>
</template>

<script>
import ProfileGalleryTotal from '@/components/profile/profile-gallery-total/ProfileGalleryTotal.vue';

export default {
    components: {
        ProfileGalleryTotal,
    },
    data() {
        return {
            items: [
                { id: 1, src: '/images/profile/temp/temp-profile-gallery-1.png', approved: true },
                { id: 2, src: '/images/registration/bg/girls-step-0-bg--mobile.jpg', approved: false },
            ],
        };
    },
    props: {

    },
    computed: {

    },
    methods: {

    },
};
</script>
<style lang="scss" scoped>
.search-adv {
    width: 50%;
    padding: 25px 15px;
    @media #{map-get($display-breakpoints, 'xs-only')} {
        width: 100%;
        padding: 20px 10px;
    } /* ... - 757 */
    &__inner {
        position: relative;
        display: flex;
        height: 100%;
        padding: 70px 20px 70px 60px;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0 5px 5.76px 0.24px rgba(45, 103, 167, 0.15);
        /* ... - 1429 */
        @media (max-width: 1429px) {
            padding: 50px 20px 50px 40px;
        } /* ... - 1429 */
        /* ... - 1279 */
        @media #{map-get($display-breakpoints, 'md-and-down')} {
            padding: 28px 20px;
        }
        &:before {
            content: '1';
            position: absolute;
            top: 20px;
            left: 25px;
            font-family: "Gilroy";
            font-weight: 900;
            font-size: 150px;
            line-height: 1;
            color: #2b396d;
            /* ... - 1429 */
            @media (max-width: 1429px) {
                top: 10px;
                left: 15px;
                font-size: 120px;
            } /* ... - 1429 */
            /* ... - 1279 */
            @media #{map-get($display-breakpoints, 'md-and-down')} {
                top: 0;
                left: 0;
                font-size: 84px;
            }
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
    }
    &__name {
        font-size: 26px;
        font-weight: 400;
        text-transform: uppercase;
        /* ... - 1279 */
        @media #{map-get($display-breakpoints, 'md-and-down')} {
            font-size: 16px;
        }
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            font-size: 14px;
        } /* ... - 757 */
    }
    &__location {
        font-size: 18px;
        font-weight: 600;
        color: #2b396d;
        /* ... - 1279 */
        @media #{map-get($display-breakpoints, 'md-and-down')} {
            margin-bottom: 8px;
            font-size: 16px;
        }
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            font-size: 14px;
        } /* ... - 757 */
    }
    &__title {
        font-size: 36px;
        line-height: 50px;
        text-transform: uppercase;
        color: #2b396d;
        /* ... - 1279 */
        @media #{map-get($display-breakpoints, 'md-and-down')} {
            font-size: 16px;
            line-height: 1.4;
        } /* ... - 1279 */
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            font-size: 16px;
            line-height: 20px;
        } /* ... - 757 */
        strong {
            color: #008ddc;
        }
    }
    &__action {
        margin-top: auto;
        margin-bottom: 0;
        font-size: 20px;
        font-weight: 600;
        color: #008ddc;
        /* ... - 1279 */
        @media #{map-get($display-breakpoints, 'md-and-down')} {
            margin-top: 5px;
            font-size: 16px;
        } /* ... - 1279 */
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            font-size: 14px;
        } /* ... - 757 */
    }
}

.search-adv-carousel {
    position: relative;
    flex-shrink: 0;
    width: 50%;
    margin-right: 30px;
    overflow: visible !important;
    /* ... - 1013 */
    @media #{map-get($display-breakpoints, 'sm-and-down')} {
        margin-right: 15px;
    } /* ... - 1013 */
    /* ... - 757 */
    @media #{map-get($display-breakpoints, 'xs-only')} {
        width: 63%;
        max-width: 285px;
        margin-right: 5px;
    } /* ... - 757 */
    &__item {
        border-radius: 3px;
        overflow: hidden;
        /* ... - 1279 */
        @media #{map-get($display-breakpoints, 'md-and-down')} {
            border-radius: 6px;
        } /* ... - 1279 */
        &:before {
            position: absolute;
            z-index: 1;
            top: -65px;
            left: 50%;
            transform: translateX(-50%);
            content: '';
            display: block;
            width: 218px;
            height: 112px;
            background-image: url("~@/assets/images/search/icons/search-result-adv-crown.png");
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
            /* ... - 1429 */
            @media (max-width: 1429px) {
                top: -45px;
                width: 157px;
                height: 77px;
            } /* ... - 1429 */
        }
        &--verify {
            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 25px;
                transform: translateY(-50%);
                display: block;
                width: 52px;
                height: 52px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                background-image: url("~@/assets/images/profile/icons/profile-verify-medal-icon.png");
                /* ... - 1279 */
                @media #{map-get($display-breakpoints, 'md-and-down')} {
                    right: 5px;
                    width: 35px;
                    height: 35px;
                } /* ... - 1279 */
            }
        }
    }
    ::v-deep.v-carousel__item {
        overflow: visible !important;
    }
    ::v-deep.gallery-total {
        top: 9px;
        left: 8px;
        width: 77px;
        height: 32px;
        z-index: 1;
        &__icon {
            width: 25px;
            margin-right: 5px;
        }
        &__count {
            font-size: 16px;
            font-weight: 400;
        }
    }
}
</style>
