/* global */
$body-font-family: 'Gilroy', sans-serif;
$line-height-root: 1.5;


/* breakpoints */
$grid-breakpoints: (
    'xs': 0,
    'sm': 757px,
    'md': 1013px,
    'lg': 1280px,
    'xl': 1800px,
);


/* colors */
$material-light: (
    'text': (
        'primary': #000,
    ),
);


/* headings */
$headings: (
    'h1': (
        'size': 46px,
        'weight': 400,
        'line-height': $line-height-root,
        'letter-spacing': 0,
    ),
    'h2': (
        'size': 42px,
        'weight': 400,
        'line-height': $line-height-root,
        'letter-spacing': 0,
    ),
    'h3': (
        'size': 38px,
        'weight': 400,
        'line-height': $line-height-root,
        'letter-spacing': 0,
    ),
    'h4': (
        'size': 34px,
        'weight': 400,
        'line-height': $line-height-root,
        'letter-spacing': 0,
    ),
    'h5': (
        'size': 30px,
        'weight': 400,
        'line-height': $line-height-root,
        'letter-spacing': 0,
    ),
    'h6': (
        'size': 26px,
        'weight': 400,
        'line-height': $line-height-root,
        'letter-spacing': 0,
    ),
    'subtitle-1': (
        'size': 1.25rem,
        'letter-spacing': 0,
    ),
    'subtitle-2': (
        'size': 1.125rem,
        'letter-spacing': 0,
    ),
    'body-1': (
        'letter-spacing': 0,
    ),
    'body-2': (
        'letter-spacing': 0,
    ),
);


/* buttons */
$btn-font-weight: 700;
/* $btn-letter-spacing: 0; */


/* dialogs */
/* $dialog-card-title-padding: 24px 24px 10px;
$dialog-card-subtitle-padding: 0 24px 24px;
$dialog-card-text-padding: 0 24px 24px;
$dialog-card-title-font-size: 1.375rem; */
