<template>
    <div class="vip-slider-item">
        <div class="vip-slider-item__inner">
            <v-img
                :src="require('@/assets' + photo.src)"
                aspect-ratio="1"
                width="189px"
            ></v-img>
            <div class="vip-slider-item__content">
                <h3 class="vip-slider-item__title">{{ item.name }}, {{ age }}</h3>
                <p class="vip-slider-item__location">{{ item.city }}</p>
            </div>
            <div class="vip-slider-item__label">
                <span class="vip-slider-item__label-text">VIP</span>
            </div>
        </div>
    </div>
</template>

<script>

import ProfileModel from '@/store/modules/profile/ProfileModel';

export default {
    props: {
        item: ProfileModel,
    },
    computed: {
        photo() {
            return this.item.photos.find((i) => i.id === this.item.mainPhoto);
        },
        age() {
            return this.$calculateAge(this.item.dateOfBirth);
        },
    },
};
</script>


<style lang="scss" scoped>
.vip-slider-item {
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    @media(max-width: 575px) {
        padding: 2px;
    }
    &:hover {
        .vip-slider-item__content {
            opacity: 1;
        }
    }
    &__inner {
        position: relative;
        @media(max-width: 575px) {
            width: 80px;
            height: 80px;
        }
    }
    &__content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        padding: 20px;
        color: #ffffff;
        background-color: rgba(0, 141, 220, .7);
        opacity: 0;
        transition: .2s;
        @media(max-width: 575px) {
            padding: 5px;
        }
    }
    &__title {
        font-size: 20px;
        color: #ffffff;
        @media(max-width: 575px) {
            font-size: 10px;
        }
    }
    &__location {
        margin-bottom: 0;
        font-size: 18px;
        font-weight: 600;
        @media(max-width: 575px) {
            font-size: 12px;
        }
    }
    ::v-deep.v-responsive__sizer {
        box-shadow: 0 0 0 2px #47b7e5 inset;
        border-radius: 2px;
    }
    &__label {
        position: absolute;
        top: -17px;
        right: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #008ddc;
        box-shadow: 0 2px 4.5px 0.5px rgba(45, 103, 167, 0.25);
        @media(max-width: 575px) {
            top: -6px;
            right: 5px;
            height: 15px;
            width: 30px;
        }
    }
    &__label-text {
        font-family: "Benzin";
        font-size: 16px;
        line-height: 1;
        color: #ffffff;
        @media(max-width: 575px) {
            font-size: 6.8px;
        }
    }
}
</style>
