<template>
<div class="page__inner page__inner--profile">
    <!-- header -->
    <profile-header />
    <!-- main -->
    <main class="main">
        <div class="profile-page">
            <div class="profile-page__inner">
                <v-container class="profile-page__container">
                    <div class="profile-page__row">
                        <div class="profile-page__sidebar">
                            <profile-overview class="d-md-none" :profile="profile"/>
                            <profile-gallery />
                            <profile-actions />
                            <profile-confirmation-panel />
                        </div>
                        <div class="profile-page__content">
                            <profile-overview class="d-none d-md-block" :profile="profile"/>
                            <profile-gallery-details class="d-none d-md-block"/>
                            <profile-details :profile="profile" />
                        </div>
                    </div>
                </v-container>
            </div>
        </div>
    </main><!-- main -->
    <!-- footer -->
    <profile-footer class="d-sm-none"/>
</div>
</template>


<script>
import ProfileHeader from '@/components/profile/profile-header/ProfileHeader.vue';
import ProfileOverview from '@/components/profile/profile-overview/ProfileOverview.vue';
import ProfileDetails from '@/components/profile/profile-details/ProfileDetails.vue';
import ProfileGallery from '@/components/profile/profile-gallery/ProfileGallery.vue';
import ProfileGalleryDetails from '@/components/profile/profile-gallery-details/ProfileGalleryDetails.vue';
import ProfileActions from '@/components/profile/profile-actions/ProfileActions.vue';
import ProfileConfirmationPanel from '@/components/profile/profile-confirmation-panel/ProfileConfirmationPanel.vue';
import ProfileFooter from '@/components/profile/profile-footer/ProfileFooter.vue';

export default {
    // components
    components: {
        ProfileHeader,
        ProfileOverview,
        ProfileDetails,
        ProfileGallery,
        ProfileGalleryDetails,
        ProfileActions,
        ProfileConfirmationPanel,
        ProfileFooter,
    },
    // data
    data() {
        return {

        };
    },
    // computed
    computed: {
        profile() {
            return this.$store.state.profile.profileData;
        },
    },
    methods: {

    },
};
</script>

<style src="@/assets/styles/pages/profile.scss" lang="scss"></style>
