<template>
    <div class="page__inner page__inner--faq">
        <!-- header -->
        <page-header />
        <!-- main -->
        <main class="main">
            <div class="faq-page">
                <div class="faq-page__inner">
                    <v-container class="faq-page__container">
                        <v-row>
                            <v-col cols="12" sm="4" md="3" class="faq-page__sidebar">
                                <faq-menu />
                            </v-col>
                            <v-col cols="12" sm="8" lg="7" offset-md="1" class="faq-page__main">
                                <h1 class="faq-page__title">Помощь</h1>

                                <div class="faq-page__items">
                                    <faq-item v-for="(faq, index) in faqs" :key="index">
                                        <template v-slot:header>
                                            <div v-html="faq.title"></div>
                                        </template>

                                        <template v-slot:content>
                                            <div v-html="faq.content"></div>
                                        </template>
                                    </faq-item>
                                </div>

                                <p class="faq-page__notice">
                                    Если Вы не нашли ответа на свой вопрос,<br>
                                    обратитесь в <a href="#">службу поддержки сайта</a>.
                                </p>
                            </v-col>
                        </v-row>
                    </v-container>
                </div>
            </div>
        </main><!-- main -->
        <!-- footer -->
        <profile-footer />
    </div>
</template>

<script>
import PageHeader from '@/components/page-header/PageHeader.vue';
import FaqMenu from '@/components/faq/faq-menu/FaqMenu.vue';
import FaqItem from '@/components/faq/faq-item/FaqItem.vue';
import ProfileFooter from '@/components/profile/profile-footer/ProfileFooter.vue';

export default {
    components: {
        PageHeader,
        FaqMenu,
        FaqItem,
        ProfileFooter,
    },
    data() {
        return {

        };
    },
    computed: {
        faqs() {
            return [
                {
                    title: '<h2>Lorem Ipsum is simply dummy</h2>',
                    content: `
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s:</p>
                        <ul>
                            <li><strong>It is a long established.</strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</li>
                            <li><strong>There are many variations of passages.</strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</li>
                            <li><strong>Contrary to popular belief.</strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</li>
                        </ul>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    `,
                },
                {
                    title: '<h2>Lorem Ipsum is simply dummy</h2>',
                    content: `
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s:</p>
                        <ul>
                            <li><strong>It is a long established.</strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</li>
                            <li><strong>There are many variations of passages.</strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</li>
                            <li><strong>Contrary to popular belief.</strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</li>
                        </ul>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    `,
                },
                {
                    title: '<h2>Lorem Ipsum is simply dummy</h2>',
                    content: `
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s:</p>
                        <ul>
                            <li><strong>It is a long established.</strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</li>
                            <li><strong>There are many variations of passages.</strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</li>
                            <li><strong>Contrary to popular belief.</strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</li>
                        </ul>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    `,
                },
                {
                    title: '<h2>Lorem Ipsum is simply dummy</h2>',
                    content: `
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s:</p>
                        <ul>
                            <li><strong>It is a long established.</strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</li>
                            <li><strong>There are many variations of passages.</strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</li>
                            <li><strong>Contrary to popular belief.</strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</li>
                        </ul>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    `,
                },
                {
                    title: '<h2>Lorem Ipsum is simply dummy</h2>',
                    content: `
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s:</p>
                        <ul>
                            <li><strong>It is a long established.</strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</li>
                            <li><strong>There are many variations of passages.</strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</li>
                            <li><strong>Contrary to popular belief.</strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</li>
                        </ul>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    `,
                },
            ];
        },
    },
    methods: {

    },
    mounted() {

    },
};
</script>

<style lang="scss" scoped>
.page__inner--faq {
    background-image: linear-gradient(90deg, rgba(237,240,250,1) 0%, rgba(237,240,250,1) 33%, rgba(255,255,255,1) 33%);
    background-color: #ffffff;
    /* ... - 1429 */
    @media (max-width: 1429px) {
        background-image: linear-gradient(90deg, rgba(237,240,250,1) 0%, rgba(237,240,250,1) 31%, rgba(255,255,255,1) 31%);
    } /* ... - 1429 */
    /* ... - 1013 */
    @media #{map-get($display-breakpoints, 'sm-and-down')} {
        background-image: linear-gradient(90deg, rgba(237,240,250,1) 0%, rgba(237,240,250,1) 33%, rgba(255,255,255,1) 33%);
    } /* ... - 1013 */
    /* ... - 757 */
    @media #{map-get($display-breakpoints, 'xs-only')} {
        background-image: none;
    } /* ... - 757 */
    ::v-deep .header {
        z-index: 1000;
        background-color: #ffffff;
        &__container {
            max-width: 1470px;
        }
        &__login-link {
            font-weight: 900;
            color: #251d39;
            filter: none;
            &:after {
                background-position: 0 -18px;
                transform: rotate(180deg) translateY(50%);
                /* ... - 1279 */
                @media #{map-get($display-breakpoints, 'md-and-down')} {
                    background-position: 0 -15px;
                } /* ... - 1279 */
            }
        }
    }
    ::v-deep .profile-footer-desktop {
        display: block !important;
        background-color: #fbfbfb;
    }
    ::v-deep .profile-footer-mobile {
        display: none !important;
    }
}
.faq-page {
    &__container {
        max-width: 1470px;
    }
    &__sidebar {
        padding-top: 215px;
        padding-bottom: 75px;
        /* ... - 1013 */
        @media #{map-get($display-breakpoints, 'sm-and-down')} {
            padding-top: 0;
            padding-bottom: 100px;
        } /* ... - 1013 */
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            padding-bottom: 0;
        } /* ... - 757 */
        .faq-page-menu {
            position: sticky;
            top: 50px;
        }
    }
    &__main {
        padding-bottom: 90px;
        /* ... - 1013 */
        @media #{map-get($display-breakpoints, 'sm-and-down')} {
            padding-left: 24px;
            padding-right: 24px;
        } /* ... - 1013 */
    }
    &__title {
        margin-top: 75px;
        margin-bottom: 85px;
        font-size: 36px;
        font-weight: 600;
        text-transform: uppercase;
        color: #1f1733;
        /* ... - 1013 */
        @media #{map-get($display-breakpoints, 'sm-and-down')} {
            margin-top: 7px;
            margin-bottom: 45px;
            font-size: 24px;
            text-align: center;
        } /* ... - 1013 */
    }
    &__items {
        margin-bottom: 40px;
        /* ... - 1013 */
        @media #{map-get($display-breakpoints, 'sm-and-down')} {
            margin-bottom: 65px;
        } /* ... - 1013 */
    }
    &__notice {
        font-size: 20px;
        color: #2b396d;
        /* ... - 1013 */
        @media #{map-get($display-breakpoints, 'sm-and-down')} {
            font-size: 16px;
        } /* ... - 1013 */
        a {
            color: #0078ff;
        }
    }
}
</style>
