<template>
    <div
        class="profile-confirm-panel"
        :class="{
            'profile-confirm-panel--warning': false,
        }"
    >
        <div class="profile-confirm-panel__inner">
            <h2 class="profile-confirm-panel__title profile-confirm-panel__title--approved">Верифицировано</h2>
<!--            <h2 class="profile-confirm-panel__title profile-confirm-panel__title&#45;&#45;warning">Внимание!</h2>-->
            <ul class="profile-confirm-panel__list">
                <li class="profile-confirm-panel__item profile-confirm-panel__item--approved">Фото подтверждено</li>
                <li class="profile-confirm-panel__item profile-confirm-panel__item--approved">Возраст подтвержден</li>
                <li class="profile-confirm-panel__item profile-confirm-panel__item--denied">Локация не подтверждена!</li>
                <li class="profile-confirm-panel__item profile-confirm-panel__item--approved">Локация подтверждена</li>
            </ul>
        </div>
    </div>
</template>

<script>

export default {
    data() {
        return {

        };
    },
    computed: {

    },
    methods: {

    },
};
</script>


<style lang="scss" scoped>
.profile-confirm-panel {
    padding-top: 35px;
    /* ... - 1013 */
    @media #{map-get($display-breakpoints, 'sm-and-down')} {
        padding-bottom: 15px;
    } /* ... - 1013 */
    /* ... - 757 */
    @media #{map-get($display-breakpoints, 'xs-only')} {
        padding: 10px 25px 0;
        background-color: #4cc5f8;
    } /* ... - 757 */
    &--warning {
        .profile-confirm-panel__inner {
            border: 1px solid #D50023;
            box-shadow: 0 7px 15.36px 0.64px rgba(213, 0, 35, 0.25);
        }
    }
    &__inner {
        border-radius: 7px;
        background-color: #fdfdfc;
        border: 1px solid #008DDB;
        overflow: hidden;
        box-shadow: 0 7px 15.36px 0.64px rgba(0, 141, 219, 0.25);
    }
    &__title {
        position: relative;
        display: flex;
        align-items: center;
        padding: 5px;
        font-family: "Benzin";
        text-transform: uppercase;
        &--approved {
            min-height: 103px;
            padding-left: 125px;
            font-size: 26px;
            color: #fefefe;
            background-image: linear-gradient(0, rgb(0,141,220) 0%, rgb(0,152,216) 50%, rgb(76,197,248) 100%);
            /* ... - 1429 */
            @media (max-width: 1429px) {
                padding-left: 65px;
            } /* ... - 1429 */
            /* ... - 1279 */
            @media #{map-get($display-breakpoints, 'md-and-down')} {
                min-height: 75px;
                font-size: 18px;
            } /* ... - 1279 */
            &:before {
                content: '';
                position: absolute;
                left: 35px;
                top: 50%;
                transform: translateY(-50%);
                display: block;
                width: 80px;
                height: 80px;
                background-image: url("~@/assets/images/profile/icons/profile-verify-medal-icon.png");
                background-size: contain;
                /* ... - 1429 */
                @media (max-width: 1429px) {
                    left: 10px;
                    width: 50px;
                    height: 50px;
                } /* ... - 1429 */
            }
        }
        &--warning {
            padding-top: 40px;
            padding-left: 65px;
            font-size: 34px;
            color: #d50023;
            /* ... - 1279 */
            @media #{map-get($display-breakpoints, 'md-and-down')} {
                padding-left: 23px;
            } /* ... - 1279 */
            /* ... - 757 */
            @media #{map-get($display-breakpoints, 'xs-only')} {
                padding-top: 30px;
                font-size: 18px;
            } /* ... - 757 */
        }
    }
    &__list {
        list-style: none;
        padding: 28px 15px 30px 65px;
        /* ... - 1279 */
        @media #{map-get($display-breakpoints, 'md-and-down')} {
            padding-left: 23px;
        } /* ... - 1279 */
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            padding: 17px 15px 5px 23px;
        } /* ... - 757 */
    }
    &__item {
        position: relative;
        margin-bottom: 10px;
        padding-left: 35px;
        font-weight: 600;
        font-size: 24px;
        /* ... - 1279 */
        @media #{map-get($display-breakpoints, 'md-and-down')} {
            padding-left: 28px;
        } /* ... - 1279 */
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            margin-bottom: 15px;
            font-size: 18px;
        } /* ... - 757 */
        &:before {
            content: '';
            position: absolute;
            top: 7px;
            left: 0;
            display: inline-block;
            width: 23px;
            height: 21px;
            background-size: contain;
            /* ... - 1279 */
            @media #{map-get($display-breakpoints, 'md-and-down')} {
                width: 19px;
                height: 17px;
            } /* ... - 1279 */
        }
        &--approved {
            color: #008ddc;
            &:before {
                background-image: url("~@/assets/images/profile/icons/profile-confirmation-panel-approved-icon.png");
            }
        }
        &--denied {
            color: #d50023;
            &:before {
                background-image: url("~@/assets/images/profile/icons/profile-confirmation-panel-denied-icon.png");
            }
        }
    }
}
</style>
