<template>
    <div class="faq-item" :class="{'faq-item--open': isOpen}">
        <div class="faq-item__inner">
            <div class="faq-item__header" @click="isOpen = !isOpen">
                <slot name="header"></slot>
            </div>

            <v-slide-y-transition>
                <div class="faq-item__content" v-show="isOpen">
                    <slot name="content"></slot>
                </div>
            </v-slide-y-transition>
        </div>
    </div>
</template>


<script>
export default {
    data() {
        return {
            isOpen: false,
        };
    },
};
</script>


<style lang="scss">
.faq-item {
    margin-bottom: 12px;
    &__inner {

    }
    &__header {
        position: relative;
        display: flex;
        align-items: center;
        min-height: 74px;
        padding: 5px 40px;
        border-radius: 4px;
        box-shadow:0 4px 7.68px 0.32px rgba(124, 124, 124, 0.14);
        background-image: linear-gradient(180deg, rgba(219,243,253,1) 10%, rgba(204,232,248,1) 90%);
        transition: .2s;
        cursor: pointer;
        /* ... - 1013 */
        @media #{map-get($display-breakpoints, 'sm-and-down')} {
            min-height: 64px;
            padding-left: 20px;
        } /* ... - 1013 */
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 25px;
            transform: translateY(-50%);
            display: block;
            width: 40px;
            height: 40px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("~@/assets/images/faq/icons/faq-item-arrow-icon.png");
            /* ... - 1013 */
            @media #{map-get($display-breakpoints, 'sm-and-down')} {
                right: 6px;
                width: 32px;
                height: 32px;
            } /* ... - 1013 */
        }
        h2 {
            font-family: "Gilroy";
            font-size: 20px;
            font-weight: 900;
            /* ... - 1013 */
            @media #{map-get($display-breakpoints, 'sm-and-down')} {
                font-size: 16px;
                line-height: 20px;
            } /* ... - 1013 */
        }
    }
    &__content {
        padding: 22px 40px;
        font-size: 16px;
        color: #2b396d;
        /* ... - 1013 */
        @media #{map-get($display-breakpoints, 'sm-and-down')} {
            padding-left: 0;
            padding-right: 0;
        } /* ... - 1013 */
        ul {
            margin-bottom: 25px;
            padding-left: 0;
            list-style: none;
            li {
                position: relative;
                text-indent: 25px;
                &:after {
                    content: '';
                    position: absolute;
                    top: 5px;
                    left: 0;
                    display: block;
                    width: 11px;
                    height: 11px;
                    border-radius: 50%;
                    background-color: #0078ff;
                }
            }
        }
        strong {
            font-weight: 600;
        }
        p {
            margin-bottom: 25px;
            /* ... - 1013 */
            @media #{map-get($display-breakpoints, 'sm-and-down')} {
                &:last-child {
                    margin-bottom: 0;
                }
            } /* ... - 1013 */
        }
    }
    &--open {
        .faq-item__header {
            min-height: 82px;
            background-image: none;
            box-shadow: 0 0 0 2px #0078ff inset;
            /* ... - 1013 */
            @media #{map-get($display-breakpoints, 'sm-and-down')} {
                min-height: 64px;
            } /* ... - 1013 */
            &:after {
                background-image: url("~@/assets/images/faq/icons/faq-item-arrow-active-icon.png");
            }
        }
    }
}
</style>
