<template>
<v-app>
    <div class="page" id="page">
        <!-- <div class="page__inner">
            <page-header></page-header>
            <router-view/>
        </div> -->
        <router-view/>
    </div>
</v-app>
</template>

<script>
// import PageHeader from '@/components/page-header/PageHeader.vue';


export default {

    // // components
    // components: {
    //     PageHeader,
    // },

};
</script>


<style lang="scss">
.v-application--wrap {
    width: 100%;
}
.page {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    background-color: #edf0fa;
}
.page__inner,
.page__content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
</style>
