/* checkboxes */
.v-input--checkbox .v-label {
    margin-top: 5px;
    line-height: 16px;
    letter-spacing: 0;
    font-family: "Gilroy", sans-serif;
    font-size: 14px;
    color: var(--v-primary-base);
}
.v-input--checkbox .v-label a {
    text-decoration: underline;
    color: #fff;
}
.v-input--checkbox .v-label a:hover {
    text-decoration: none;
}
.v-input--checkbox .v-input__slot {
    align-items: flex-start;
}
.v-input--checkbox .v-input--selection-controls__input {
    margin-left: -4px;
    margin-right: 4px;
}
.v-input--checkbox .v-icon {
    width: 16px;
    height: 16px;
    margin: 4px 0 0 4px;
    background-color: #fff;
    border-radius: 2px;
}
.v-input--checkbox .mdi-checkbox-blank-outline:before {
    content: "";
}
.v-input--checkbox .mdi-checkbox-marked:before {
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background-color: var(--v-primary-base);
    content: "";
}



/* radiobuttons */
.v-radio .v-input--selection-controls__input {
    display: none;
}
.v-radio .v-label,
.v-input--selection-controls .v-radio > .v-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid #fff;
    cursor: pointer;
    background-color: #fff;
    text-align: center;
    color: $input-color-inactive;
}
.v-radio--small .v-label,
.v-input--selection-controls .v-radio--small > .v-label,
.v-radio--smaller .v-label,
.v-input--selection-controls .v-radio--smaller > .v-label {
    height: 50px;
    border-color: $input-border-color-inactive;
    letter-spacing: 0;
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.v-radio--smaller .v-label,
.v-input--selection-controls .v-radio--smaller > .v-label {
    height: 40px;
}
.v-input--selection-controls .v-item--active > .v-label {
    border-color: $input-border-color;
    color: $input-color;
}


/* radiobuttons icon */
.v-radio--icon .v-label:before {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}


/* radiobuttons not centered */
.v-radio--not-centered .v-label {
    padding: 0 16px 0 44px;
}


/* radiobuttons without border */
.v-radio--without-border .v-label,
.v-input--selection-controls .v-radio--without-border > .v-label {
    border-color: #fff;
}
.v-radio--without-border.v-item--active .v-label,
.v-input--selection-controls .v-radio--without-border.v-item--active > .v-label {
    border: 1px solid var(--v-primary-base);
}


/* radiobuttons colors */
.v-radio--color--primary .v-label,
.v-input--selection-controls .v-radio--color--primary > .v-label {
    color: var(--v-primary-base);
}


/* radiobuttons uppercase */
.v-radio--text--uppercase .v-label,
.v-input--selection-controls .v-radio--text--uppercase > .v-label {
    text-transform: uppercase;
}



/* groups */
.v-input--radio-group.v-input--selection-controls {
    padding-top: 0;
    margin-top: 0;
}
.v-input--radio-group .v-input__control {
    flex-direction: column-reverse;
}
.v-input--radio-group .v-input__slot {
    margin-bottom: 0;
}
.v-input--radio-group--column .v-radio:not(:last-child):not(:only-child) {
    margin-bottom: 0;
}



/* media queries */

/* ... - 1799 */
@media #{map-get($display-breakpoints, 'lg-and-down')} {

    /* radiobuttons */
    .v-radio--small .v-label,
    .v-input--selection-controls .v-radio--small > .v-label {
        height: 44px;
        font-size: 16px;
    }

    .v-input--checkbox .v-label {
        font-size: 12px;
    }
} /* ... - 1799 */


/* ... - 1679 */
@media only screen and (max-width: 1679px) {

    /* radiobuttons */
    .v-radio--small .v-label,
    .v-input--selection-controls .v-radio--small > .v-label {
        height: 38px;
        font-size: 14px;
    }


    /* checkboxes */
    .v-input--checkbox .v-label {
        font-size: 12px;
    }
} /* ... - 1679 */


/* ... - 1429 */
@media only screen and (max-width: 1429px) {

    /* radiobuttons */
    .v-radio--small .v-label,
    .v-input--selection-controls .v-radio--small > .v-label {
        height: 34px;
    }
} /* ... - 1429 */


/* ... - 757 */
@media #{map-get($display-breakpoints, 'xs-only')} {

    /* radiobuttons */
    .v-radio--small .v-label,
    .v-input--selection-controls .v-radio--small > .v-label {
        height: 54px;
        font-size: 20px;
    }
} /* ... - 757 */
