/* common */

/* html */
html {
    overflow-y: auto !important;
    min-width: 375px;
}


/* container */
.page__container {
    max-width: 1370px;
    //max-width: none;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}


/* main */
.main {
    position: relative;
    //z-index: 3000; // Because of this v-select and v-tooltips don't work
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.main__container {
    position: relative;
}

/* titles */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Benzin";
    font-weight: normal;
    color: var(--v-primary-base);
}


/* blocks */
.block--white {
    padding: 20px 45px 35px;
    margin-bottom: 45px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(131, 131, 131, 0.2);
}



/* media queries */

/* ... - 1679 */
@media (max-width: 1679px) {

    /* container */
    /* .page__container {
        width: 82%;
        max-width: none;
    } */
} /* ... - 1679 */


/* ... - 1013 */
@media #{map-get($display-breakpoints, 'sm-and-down')} {

    /* container */
    .page__container {
        //width: 94%;
    }
} /* ... - 1013 */


/* ... - 757 */
@media #{map-get($display-breakpoints, 'xs-only')} {

    /* container */
    .page__container {
        width: 100%;
        max-width: none;
    }

}
