/* dialogs */
.v-overlay__scrim {
    border: none;
    background-color: #86849e !important;
    /* opacity: 0.3 !important; */
}
.v-dialog {
    margin: 10px;
    border-radius: 0;
    box-shadow: 0px 5px 21px rgba(98, 98, 98, 0.14);
}
.v-dialog .v-sheet {
    border-radius: 0;
}
.v-dialog .v-sheet.v-card:not(.v-sheet--outlined) {
    box-shadow: none;
}
.v-dialog .v-card {
    padding: 50px;
}
.v-dialog > .v-card > .v-card__title {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Benzin";
    font-size: 25px;
    color: #28203c;
}
.v-dialog__subtitle {
    margin-bottom: 35px;
    font-family: "Gilroy";
    font-size: 18px;
    color: var(--v-primary-base);
}
.v-dialog .btn-group {
    margin-top: 55px;
}
.v-dialog .v-btn--main {
    max-width: 100%;
}


/* form dialog */
.v-dialog--form {
    width: 540px;
}
.v-dialog--form .v-card {
    padding-left: 95px;
    padding-right: 95px;
}
.v-dialog__form .col {
    padding-top: 6px;
    padding-bottom: 6px;
}

/* ... - 1799 */
@media #{map-get($display-breakpoints, 'lg-and-down')} {

} /* ... - 1799 */


/* ... - 1679 */
@media (max-width: 1679px) {

} /* ... - 1679 */


/* ... - 1429 */
@media (max-width: 1429px) {

} /* ... - 1429 */


/* ... - 1279 */
@media #{map-get($display-breakpoints, 'md-and-down')} {

} /* ... - 1279 */


/* ... - 1013 */
@media #{map-get($display-breakpoints, 'sm-and-down')} {

} /* ... - 1013 */


/* ... - 757 */
@media #{map-get($display-breakpoints, 'xs-only')} {
    
} /* ... - 757 */
