/* inputs */
.v-input,
.v-input input,
.v-input .v-label,
.v-select .v-list-item__title,
.v-radio .v-label {
    letter-spacing: $input-letter-spacing;
    font-family: $input-font-family;
    font-size: $input-font-size;
}
.v-input input {
    max-height: 48px;
}
.v-text-field fieldset,
.v-text-field .v-input__control,
.v-text-field .v-input__slot {
    border-radius: 0;
}
.v-text-field input {
    line-height: 1.2;
}
.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) >
    .v-input__control > .v-input__slot,
.v-radio .v-label,
.v-input--selection-controls .v-radio > .v-label {
    height: $input-height;
    margin: 0;
    border: 1px solid #fff;
    box-shadow: none;
    /* box-shadow: inset 0 0 0px 1px #000; */
}
.v-text-field.v-text-field--solo .v-input__control {
    flex-direction: column-reverse;
    min-height: 0;
}
.v-input .v-label {
    height: 40px;
    line-height: 40px;
}
.v-text-field.v-text-field--solo .v-label {
    top: 50%;
    transform: translateY(-50%);
}

/* simple text field */
.v-text-field--simple .v-text-field__slot {
    padding-left: 12px;
    padding-right: 12px;
}
.theme--light.v-text-field--simple > .v-input__control > .v-input__slot::before {
    border-color: var(--v-primary-base);
}
.v-text-field--simple input,
.v-text-field--simple .v-label {
    letter-spacing: 0;
    font-family: "Gilroy";
    font-size: 18px;
    font-weight: 600;
}
.v-text-field--simple input {
    color: var(--v-primary-base);
}
.v-text-field--simple .v-label {
    top: 9px;
    margin-left: 12px;
    height: 20px;
    line-height: 20px;
}
.v-text-field--simple .theme--light.v-label {
    color: #929bbe;
}


/* input error */
.v-text-field.v-text-field--enclosed .v-text-field__details {
    min-height: 0;
    padding: 0;
    margin: 0;
}
.v-messages,
.v-messages__message {
    line-height: 1.4;
}
.v-messages {
    min-height: 30px;
    letter-spacing: 0;
    font-family: "Gilroy", sans-serif;
    font-size: 18px;
    /* color: #dc0000; */
}



/* media queries */

/* ... - 1799 */
@media #{map-get($display-breakpoints, 'lg-and-down')} {

    /* inputs */
    .v-input,
    .v-input input,
    .v-input .v-label,
    .v-select .v-list-item__title,
    .v-radio .v-label {
        letter-spacing: $input-letter-spacing-lg;
        font-size: $input-font-size-lg;
    }
    .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) >
        .v-input__control > .v-input__slot,
    .v-radio .v-label,
    .v-input--selection-controls .v-radio > .v-label {
        height: $input-height;
    }


    /* input error */
    .v-messages {
        min-height: 28px;
        font-size: 16px;
    }
} /* ... - 1799 */


/* ... - 1679 */
@media only screen and (max-width: 1679px) {

    /* inputs */
    .v-input,
    .v-input input,
    .v-input .v-label,
    .v-select .v-list-item__title,
    .v-radio .v-label {
        font-size: $input-font-size-1679;
    }
    .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) >
        .v-input__control > .v-input__slot,
    .v-radio .v-label,
    .v-input--selection-controls .v-radio > .v-label {
        height: $input-height-1679;
    }


    /* input error */
    .v-messages {
        min-height: 26px;
        font-size: 14px;
    }
} /* ... - 1679 */


/* ... - 1429 */
@media only screen and (max-width: 1429px) {

    /* inputs */
    .v-input,
    .v-input input,
    .v-input .v-label,
    .v-select .v-list-item__title,
    .v-radio .v-label {
        font-size: $input-font-size-1429;
    }
    .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) >
        .v-input__control > .v-input__slot,
    .v-radio .v-label,
    .v-input--selection-controls .v-radio > .v-label {
        height: $input-height-1429;
    }


    /* input error */
    .v-messages {
        min-height: 24px;
        font-size: 14px;
    }
} /* ... - 1429 */


/* ... - 1279 */
@media #{map-get($display-breakpoints, 'md-and-down')} {

    /* inputs */
    .v-input,
    .v-input input,
    .v-input .v-label,
    .v-select .v-list-item__title,
    .v-radio .v-label {
        font-size: $input-font-size-md;
    }
    .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) >
        .v-input__control > .v-input__slot,
    .v-radio .v-label,
    .v-input--selection-controls .v-radio > .v-label {
        height: $input-height-md;
    }


    /* input error */
    .v-messages {
        min-height: 20px;
        font-size: 12px;
    }
} /* ... - 1279 */


/* ... - 1013 */
@media #{map-get($display-breakpoints, 'sm-and-down')} {

    /* input error */
    .v-messages {
        min-height: 22px;
        font-size: 14px;
    }
} /* ... - 1013 */


/* ... - 757 */
@media #{map-get($display-breakpoints, 'xs-only')} {

    /* inputs */
    .v-input,
    .v-input input,
    .v-input .v-label,
    .v-select .v-list-item__title,
    .v-radio .v-label {
        font-size: $input-font-size-xs;
    }
    .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) >
        .v-input__control > .v-input__slot,
    .v-radio .v-label,
    .v-input--selection-controls .v-radio > .v-label {
        height: $input-height-xs;
    }
    .v-text-field.v-text-field--solo .v-input__control {
        flex-direction: column;
    }


    /* input error */
    .v-messages {
        min-height: 0;
        margin-top: 4px;
        font-size: 16px;
    }
    .v-application--is-ltr .v-messages {
        text-align: center;
    }
} /* ... - 757 */
