/* pagination */
$pagination-btn-size: 24px;
.v-pagination {
    margin-bottom: 50px;
}
.theme--light.v-pagination .v-pagination__item {
    min-width: $pagination-btn-size;
    height: $pagination-btn-size;
    border: none;
    background: none !important;
    box-shadow: none;
    line-height: $pagination-btn-size;
    font-size: 18px;
    color: #616886;
}
.theme--light.v-pagination .v-pagination__item--active {
    font-weight: bold;
    color: #302941;
}
.v-pagination__navigation--disabled {
    visibility: hidden;
}
.v-pagination .v-pagination__navigation .theme--light.v-icon,
.v-pagination li:first-child .v-pagination__navigation:after,
.v-pagination li:last-child .v-pagination__navigation:before {
    color: #1f1733;
}
.theme--light.v-pagination .v-pagination__navigation {
    width: auto;
    border: none;
    background: none;
    box-shadow: none;
}
.v-pagination .v-pagination__navigation .v-icon {
    margin-top: -1px;
    font-size: 28px;
}
.v-pagination li:first-child .v-pagination__navigation .v-icon {
    transform: rotate(-180deg);
}
$pagination-arrow-margin: 15px;
.v-pagination li:first-child .v-pagination__navigation:after,
.v-pagination li:last-child .v-pagination__navigation:before {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}
.v-pagination li:first-child .v-pagination__navigation:after {
    margin-left: $pagination-arrow-margin;
    content: "Назад";
}
.v-pagination li:last-child .v-pagination__navigation:before {
    margin-right: $pagination-arrow-margin;
    content: "Дальше";
}
