/* selects */
.v-select__selections {
    line-height: 1.4;
}
.v-select .v-menu__content {
    border-radius: 0;
    box-shadow: none;
}
.v-select .v-list {
    padding: 0;
}
.v-select .v-list-item {
    padding: 0 12px;
}
.v-select .v-list-item__title {
    color: $input-color-inactive;
}
.v-select .v-list-item--active .v-list-item__title {
    color: #000;
}
.v-select .v-list-item--active::before {
    background: none;
}
.v-select .mdi-menu-down::before {
    font-family: "App Icons" !important;
    font-size: 24px;
    color: #000;
    content: "\e900";
}

/* autocomplete */
.v-autocomplete {
    padding-top: 0;
    margin-top: 0;
}
.v-autocomplete .mdi-menu-down::before {
    font-size: 18px;
    color: #1f1733;
}
.theme--light.v-autocomplete input {
    color: var(--v-primary-base);
}
.theme--light.v-autocomplete > .v-input__control > .v-input__slot:before {
    border-color: var(--v-primary-base);
}
.v-autocomplete > .v-input__control > .v-input__slot {
    height: 30px;
}
.v-autocomplete input {
    padding: 4px 0;
}
.v-autocomplete .v-input__prepend-inner,
.v-autocomplete .v-input__append-inner {
    margin-top: 7px;
}

/* font */
.v-select--font--gilroy input {
    letter-spacing: 0;
    font-family: "Gilroy";
    font-size: 20px;
    font-weight: 600;
}
.v-select--font--large input {
    font-size: 25px;
}
.v-select--font--large .mdi-menu-down::before {
    font-size: 22px;
}

/* text */
.v-select--ta--center input {
    text-align: center;
}
.v-select--tt--upper input {
    text-transform: uppercase;
}

/* color */
.theme--light.v-select--white input,
.v-select--white .mdi-menu-down::before {
    color: #fff;
}
.theme--light.v-select--white > .v-input__control > .v-input__slot::before,
.theme--light.v-select--white > .v-input__control > .v-input__slot::after,
.theme--light.v-select--white:not(.v-input--has-state):hover >
    .v-input__control > .v-input__slot:before {
    border-color: #fff;
}


/* media queries */

/* ... - 1679 */
@media (max-width: 1679px) {
    .v-select .mdi-menu-down::before {
        font-size: 20px;
    }

    /* autocomplete */
    .v-autocomplete .mdi-menu-down::before {
        font-size: 18px;
    }
} /* ... - 1679 */

/* ... - 1429 */
@media (max-width: 1429px) {
    .v-select .v-list-item {
        min-height: 40px;
    }
} /* ... - 1429 */


/* ... - 1279 */
@media #{map-get($display-breakpoints, 'md-and-down')} {
    .v-select .v-list-item {
        min-height: 36px;
    }
    .v-select .mdi-menu-down::before {
        font-size: 18px;
    }

    /* autocomplete */
    .v-autocomplete .mdi-menu-down::before {
        font-size: 16px;
    }
} /* ... - 1279 */
