<template>
    <div class="profile-edit-overview">
        <template>
            <h1 class="profile-edit-overview__title">{{ name }}, {{ age }}</h1>
            <h2 class="profile-edit-overview__subtitle">{{ address }}</h2>
            <v-btn class="profile-edit" @click="edit = true" v-if="!edit">
                <img src="@/assets/images/profile/icons/edit-icon.png" alt="Edit">
            </v-btn>
        </template>
        <profile-edit
            v-if="edit"
            :profile="profile"
            v-slot:default="slotProps"
            @close-edit="edit = false"
            :validatedFieldsBeforeSaving="['name', 'city', 'dateOfBirth']"
        >
            <v-text-field
                label="Имя:"
                class="profile-edit-form__field"
                v-model="slotProps.v$.formData.name.$model"
                :error="$hasError(slotProps.v$.formData.name)"
                :error-messages="$getErrorMessage(slotProps.v$.formData.name)"
            ></v-text-field>

            <v-text-field
                label="Город:"
                class="profile-edit-form__field"
                v-model="slotProps.v$.formData.city.$model"
                :error="$hasError(slotProps.v$.formData.city)"
                :error-messages="$getErrorMessage(slotProps.v$.formData.city)"
            ></v-text-field>

            <v-menu
                ref="showCalendar"
                v-model="showCalendar"
                :close-on-content-click="false"
                offset-y
                min-width="auto"
                :attach="true"
                :absolute="true"
                :right="true"
                :bottom="true"
            >
                <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                        class="profile-edit-form__field"
                        :value="dateFormat(slotProps.formData.dateOfBirth)"
                        label="Дата рождения:"
                        v-bind="attrs"
                        v-on="on"
                        hide-details
                        readonly
                    ></v-text-field>
                </template>
                <v-date-picker
                    v-if="slotProps.formData.dateOfBirth"
                    v-model="slotProps.formData.dateOfBirth"
                    scrollable
                    no-title
                    next-icon=">"
                    prev-icon="<"
                    @input="showCalendar = false"
                >
                </v-date-picker>
            </v-menu>
        </profile-edit>
    </div>
</template>

<script>
import ProfileEdit from '@/components/profile/profile-edit-form/ProfileEditForm.vue';

export default {
    components: {
        ProfileEdit,
    },
    data() {
        return {
            edit: false,
            showCalendar: false,
        };
    },
    props: {
        profile: Object,
    },
    computed: {
        name() {
            return this.profile ? this.profile.name : '';
        },
        age() {
            const fullYears = (-1970) + new Date((new Date() - new Date(this.profile.dateOfBirth))).getFullYear();
            return Number.isNaN(fullYears) ? '' : fullYears;
        },
        address() {
            return this.profile ? this.profile.city : '';
        },
    },
    methods: {
        dateFormat(str) {
            const date = new Date(str);
            if (Number.isNaN(date.getDate())) {
                return str;
            }
            return `${(`0${date.getDate()}`).slice(-2)}:${(`0${date.getMonth() + 1}`).slice(-2)}:${date.getFullYear()}`;
        },
    },
};
</script>


<style lang="scss" scoped>
.profile-edit-overview {
    margin-bottom: 35px;
    /* ... - 757 */
    @media #{map-get($display-breakpoints, 'xs-only')} {
        margin-bottom: 0;
        padding-left: 25px;
        padding-right: 25px;
    } /* ... - 757 */
    &__title {
        font-size: 48px;
        line-height: 52px;
        text-transform: uppercase;
        /* ... - 1279 */
        @media #{map-get($display-breakpoints, 'md-and-down')} {
            margin-top: 35px;
        } /* ... - 1279 */
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            margin-top: 0;
            font-size: 36px;
            line-height: 40px;
        } /* ... - 757 */
    }
    &__subtitle {
        margin-bottom: 10px;
        font-family: $body-font-family;
        font-size: 36px;
        font-weight: 600;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            margin-bottom: 0;
            font-size: 24px;
        } /* ... - 757 */
    }

    .profile-edit-form {
        margin-top: 25px;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            margin-top: 15px;
        } /* ... - 757 */
        &__inner {
            padding: 35px 50px;
            box-shadow: 16px 9px 49px rgba(43, 103, 167, .2);
            @media #{map-get($display-breakpoints, 'md-and-down')} {
                padding: 10px;
            }
        }
        &__title {
            padding-left: 15px;
            padding-right: 15px;
        }
        &__fields {
            margin-bottom: 45px;
            /* ... - 757 */
            @media #{map-get($display-breakpoints, 'xs-only')} {
                margin-bottom: 25px;
            } /* ... - 757 */
        }
        &__field {
            margin-bottom: 15px;
            /* ... - 757 */
            @media #{map-get($display-breakpoints, 'xs-only')} {
                margin-bottom: 0;
            } /* ... - 757 */
            &:last-child {
                margin-bottom: 0;
            }
            .v-label {
                min-width: 275px;
                /* ... - 757 */
                @media #{map-get($display-breakpoints, 'xs-only')} {
                    margin-bottom: 10px;
                    font-size: 20px;
                } /* ... - 757 */
            }
        }
    }
    .v-date-picker-header .v-icon {
        font-weight: 100;
        font-style: unset;
    }
}
</style>
