<template>
    <div class="search-result-item">
        <div class="search-result-item__inner">
            <v-carousel
                :show-arrows="false"
                height="auto"
                class="search-result-item-carousel"
            >
                <v-carousel-item v-for="(image, i) in item.photos" :key="i">
                    <div class="search-result-item-carousel__inner">
                        <v-img
                            :src="require('@/assets' + image.src)"
                            aspect-ratio="1.25"
                        ></v-img>

                        <profile-gallery-total
                            :approved="image.approved"
                            :length="item.photos.length"
                            :index="(i + 1)"
                        />
                    </div>
                </v-carousel-item>
            </v-carousel>

            <div class="search-result-item__content">
                <h3 class="search-result-item__title">
                    {{ item.name }}, {{ $calculateAge(item.dateOfBirth) }}
                    <span
                        class="search-result-item__status"
                        :class="{'search-result-item__status--active': Math.random() < 0.5}"
                    ></span>
                </h3>
                <p class="search-result-item__location">{{ item.city }}, {{ item.country }}</p>
                <hr>
                <div class="search-result-item__actions">
                    <v-btn
                        class="search-result-item-action"
                        :class="{'search-result-item-action--active': item.isLike}"
                    >
                        <img
                            class="search-result-item-action__icon"
                            src="~@/assets/images/search/icons/search-result-item-heart-icon.png"
                            width="45"
                            height="45"
                            alt=""
                        />
                        <img
                            class="search-result-item-action__icon search-result-item-action__icon--active"
                            src="~@/assets/images/search/icons/search-result-item-heart-icon-active.png"
                            width="47"
                            height="47"
                            alt=""
                        />
                    </v-btn>
                    <v-btn
                        class="search-result-item-action"
                        :class="{'search-result-item-action--active': item.isWink}"
                    >
                        <img
                            class="search-result-item-action__icon"
                            src="~@/assets/images/search/icons/search-result-item-winking-icon.png"
                            width="42"
                            height="42"
                            alt=""
                        />
                        <img
                            class="search-result-item-action__icon search-result-item-action__icon--active"
                            src="~@/assets/images/search/icons/search-result-item-winking-icon-active.png"
                            width="45"
                            height="45"
                            alt=""
                        />
                    </v-btn>
                    <v-btn
                        class="search-result-item-action"
                        :class="{'search-result-item-action--active': item.isMessaged}"
                    >
                        <img
                            class="search-result-item-action__icon"
                            src="~@/assets/images/search/icons/search-result-item-heart-message.png"
                            width="44"
                            height="44"
                            alt=""
                        />
                        <img
                            class="search-result-item-action__icon search-result-item-action__icon--active"
                            src="~@/assets/images/search/icons/search-result-item-heart-message-active.png"
                            width="44"
                            height="44"
                            alt=""
                        />
                        <span class="search-result-item-action__text">Написать</span>
                    </v-btn>
                </div>
            </div>

            <div v-if="showTargetLabel" class="search-result-item-target">
                <img v-if="item.purposeOfDating === 'online'" src="~@/assets/images/search/icons/search-result-item-online-icon.png" alt="online" class="search-result-item-target__icon">
                <img v-if="item.purposeOfDating === 'keep-woman'" src="~@/assets/images/search/icons/search-result-item-keep-woman-icon.png" alt="keep-woman" class="search-result-item-target__icon">
                <img v-if="item.purposeOfDating === 'relationship'" src="~@/assets/images/search/icons/search-result-item-relationship-icon.png" alt="relationship" class="search-result-item-target__icon">
                <img v-if="item.purposeOfDating === 'escort'" src="~@/assets/images/search/icons/search-result-item-escort-icon.png" alt="escort" class="search-result-item-target__icon">
            </div>

            <v-btn
                v-if="showLikes"
                class="search-result-item-likes"
                :class="{'search-result-item-likes--active': item.isLike}"
            >
                <img
                    class="search-result-item-likes__icon"
                    src="@/assets/images/search/icons/search-result-item-like-icon.png"
                    alt="Like icon"
                />

                <img
                    class="search-result-item-likes__icon search-result-item-likes__icon--active"
                    src="@/assets/images/search/icons/search-result-item-like-icon-active.png"
                    alt="Like icon active"
                />

                <span class="search-result-item-likes__text">{{ item.likesCount }}</span>
            </v-btn>

            <div class="search-result-item-medals">
                <span v-if="Math.random() < 0.5" class="search-result-item-medals__vip">VIP</span>
                <span v-if="Math.random() < 0.5" class="search-result-item-medals__verify">
                    <img
                        src="~@/assets/images/profile/icons/profile-verify-medal-icon.png"
                        alt="profile verify"
                        width="91"
                        height="91"
                    />
                </span>
            </div>
        </div>
    </div>
</template>

<script>
import ProfileGalleryTotal from '@/components/profile/profile-gallery-total/ProfileGalleryTotal.vue';

export default {
    components: {
        ProfileGalleryTotal,
    },
    data() {
        return {

        };
    },
    props: {
        item: Object,
        showTargetLabel: Boolean,
        showLikes: Boolean,
    },
    computed: {

    },
    methods: {

    },
};
</script>

<style lang="scss" scoped>
.search-result-item {
    width: 25%;
    padding: 25px 12px;
    /* ... - 757 */
    @media #{map-get($display-breakpoints, 'xs-only')} {
        width: 50%;
        padding-left: 10px;
        padding-right: 10px;
    } /* ... - 757 */
    &:hover {
        .search-result-item__inner {
            border-color:#513a8a;
        }
        .search-result-item__title,
        .search-result-item__content {
            color: #523b8b !important;
        }
    }
    &__inner {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        border-radius: 5px;
        background-color: #ffffff;
        box-shadow: 0 5px 5.76px 0.24px rgba(45, 103, 167, 0.15);
        border: 1px solid #edf0fa;
        transition: .2s;
    }
    &__content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 10px 20px 5px;
        color: #2b396d;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            padding: 5px 12px;
        } /* ... - 757 */
    }
    &__title {
        position: relative;
        font-size: 24px;
        text-transform: uppercase;
            /* ... - 1279 */
        @media #{map-get($display-breakpoints, 'md-and-down')} {
            font-size: 14px;
            line-height: 1.1;
        } /* ... - 1279 */
    }
    &__status {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
        &:after {
            content: '';
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #f0cb00;
            /* ... - 1279 */
            @media #{map-get($display-breakpoints, 'md-and-down')} {
                width: 7px;
                height: 7px;
            } /* ... - 1279 */
        }
        &--active:after {
            background-color: #22f000;
        }
    }
    &__location {
        margin-bottom: 12px;
        font-size: 20px;
        font-weight: 600;
        /* ... - 1279 */
        @media #{map-get($display-breakpoints, 'md-and-down')} {
            margin-bottom: 5px;
            font-size: 12px;
        } /* ... - 1279 */
    }
    hr {
        height: 1px;
        margin-top: auto;
        margin-bottom: 0;
        background-color: #a6a8b0;
        border: 0;
    }
    &__actions {
        display: flex;
        justify-content: space-between;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.search-result-item-carousel {
    flex-shrink: 0;
    &__inner {
        border-radius: 5px 5px 0 0;
        overflow: hidden;
    }
    ::v-deep.v-carousel__controls {
        background-color: transparent;
        height: 20px;
        .v-item-group {
            display: flex;
            width: 100%;
            justify-content: center;
        }
        .v-carousel__controls__item {
            flex-grow: 1;
            height: 20px;
            margin: 0 5px;
            background-color: transparent;
            i {
                display: none;
            }
            &:before {
                content: none;
            }
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 100%;
                height: 4px;
                border-radius: 2px;
                background-color: #ababab;
            }
            &.v-item--active:after {
                background-color: #008ddc;
            }
        }
    }
    ::v-deep.gallery-total {
        top: 15px;
        left: 15px;
        width: 86px;
        height: 37px;
        /* ... - 1279 */
        @media #{map-get($display-breakpoints, 'md-and-down')} {
            width: 54px;
            height: 24px;
        } /* ... - 1279 */
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            top: 5px;
            left: 7px;
        } /* ... - 757 */
        &__icon {
            width: 23px;
            /* ... - 1279 */
            @media #{map-get($display-breakpoints, 'md-and-down')} {
                width: 15px;
                margin-right: 5px;
            } /* ... - 1279 */
        }
        &__count {
            font-size: 18px;
            font-weight: normal;
            line-height: 1;
            /* ... - 1279 */
            @media #{map-get($display-breakpoints, 'md-and-down')} {
                font-size: 11.5px;
            } /* ... - 1279 */
        }
    }
}

.search-result-item-action {
    min-width: auto !important;
    height: auto !important;
    padding: 10px !important;
    background-color: transparent !important;
    box-shadow: none;
    text-transform: none;/* ... - 1279 */
    @media #{map-get($display-breakpoints, 'md-and-down')} {
        flex-grow: 1;
        padding: 5px !important;
    } /* ... - 1279 */
    &:before {
        content: none;
    }
    &--active,
    &:hover {
        .search-result-item-action__icon {
            display: none;
            &--active {
                display: block;
            }
        }
    }
    &__icon {
        width: 45px;
        height: 45px;
        object-fit: contain;
        /* ... - 1279 */
        @media #{map-get($display-breakpoints, 'md-and-down')} {
            width: 28px;
            height: 28px;
        } /* ... - 1279 */
        &--active {
            display: none;
        }
    }
    &__text {
        margin-left: 3px;
        font-size: 18px;
        /* ... - 1429 */
        @media (max-width: 1429px) {
            display: none;
        } /* ... - 1429 */
    }
}

.search-result-item-target {
    position: absolute;
    top: -40px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 59px;
    height: 40px;
    padding: 5px 0;
    border-radius: 20px 20px 0 0;
    background-color: #348AFF;
    /* ... - 1279 */
    @media #{map-get($display-breakpoints, 'md-and-down')} {
        top: -39px;
        left: 10px;
        width: 38px;
        height: 39px;
        padding: 6px 3px;
    } /* ... - 1279 */
    &__icon {
        max-width: 100%;
        max-height: 100%;
    }
}

.search-result-item-likes {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 66px !important;
    border-radius: 0 0 5px 5px;
    background-color: #d5f0fb !important;
    /* ... - 1279 */
    @media #{map-get($display-breakpoints, 'md-and-down')} {
        height: 40px !important;
    } /* ... - 1279 */
    &:before {
        content: none;
    }
    &__icon {
        display: block;
        margin-right: 15px;
        /* ... - 1279 */
        @media #{map-get($display-breakpoints, 'md-and-down')} {
            max-width: 27px;
        } /* ... - 1279 */
        &--active {
            display: none;
        }
    }
    &__text {
        font-family: "Benzin";
        font-size: 22px;
        color: #2b396d;
        /* ... - 1279 */
        @media #{map-get($display-breakpoints, 'md-and-down')} {
            font-size: 14px;
        } /* ... - 1279 */
    }
    &--active,
    &:hover {
        .search-result-item-likes__icon {
            display: none;
            &--active {
                display: block;
            }
        }
    }
}

.search-result-item-medals {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    &__vip {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 35px;
        margin-right: 5px;
        font-family: "Benzin";
        color: #ffffff;
        background-color: #008ddc;
        /* ... - 1279 */
        @media #{map-get($display-breakpoints, 'md-and-down')} {
            width: 37px;
            height: 20px;
            margin-right: 0;
            font-size: 8.23px;
        }
    }
    &__verify {
        width: 60px;
        height: 60px;
        /* ... - 1279 */
        @media #{map-get($display-breakpoints, 'md-and-down')} {
            width: 35px;
            height: 35px;
        } /* ... - 1279 */
        img {
            width: 100%;
            height: auto;
        }
    }
}
</style>
