<template>
<div class="page__inner page__inner--search">
    <!-- header -->
    <profile-header />
    <!-- main -->
    <main class="main">
        <div class="search-page">
            <div class="search-page__inner">
                <v-container class="search-page__container">
                    <vip-slider :items="vipProfiles"/>

                    <search-filter @search-params-changed="setSearchParams"/>

                    <search-result :items="searchResult"/>

                    <v-pagination
                        v-if="searchResult.length"
                        :value="currentPage"
                        :length="countPages"
                        @input="changePage"
                        prev-icon="ai-right-arrow"
                        next-icon="ai-right-arrow"
                        class="search-pagination"
                    />
                </v-container>
            </div>
        </div>
    </main><!-- main -->
    <!-- footer -->
    <profile-footer class="d-sm-none"/>
</div>
</template>

<script>
import ProfileHeader from '@/components/profile/profile-header/ProfileHeader.vue';
import VipSlider from '@/components/search/vip-slider/VipSlider.vue';
import SearchFilter from '@/components/search/search-filter/SearchFilter.vue';
import SearchResult from '@/components/search/search-result/SearchResult.vue';
import ProfileFooter from '@/components/profile/profile-footer/ProfileFooter.vue';

export default {
    components: {
        ProfileHeader,
        VipSlider,
        SearchFilter,
        SearchResult,
        ProfileFooter,
    },
    data() {
        return {

        };
    },
    computed: {
        profile() {
            return this.$store.state.profile.profileData;
        },
        searchResult() {
            return this.$store.getters['search/result'];
        },
        currentPage() {
            return this.$store.getters['search/currentPage'];
        },
        countPages() {
            return this.$store.getters['search/countPages'];
        },
        vipProfiles() {
            return this.$store.getters['search/vipProfiles'];
        },
    },
    methods: {
        setSearchParams(params) {
            this.$store.commit('search/setParams', { params });
            this.$store.dispatch('search/search');
        },
        changePage(currentPage) {
            this.$store.commit('search/setCurrentPage', { currentPage });
            this.$store.dispatch('search/search');
        },
    },
    mounted() {
        // this.$store.dispatch('search/search');
        this.$store.dispatch('search/loadVipProfiles');
    },
};
</script>

<style lang="scss" scoped>
.search-page {
    &__container {
        max-width: 1470px;
        padding-bottom: 0;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 180px;
        } /* ... - 757 */
    }
}
.page__inner--search {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 650px, rgba(237,240,250,1) 650px);
}

.search-pagination {
    /* ... - 757 */
    @media #{map-get($display-breakpoints, 'xs-only')} {
        ::v-deep.v-pagination__navigation {
            height: 24px;
            &:before {
                font-size: 16px !important;
            }
        }
        ::v-deep.v-pagination__item {
            font-size: 16px !important;
        }
    } /* ... - 757 */
}
</style>
